<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SG Cart</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-end ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store">Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pr-5" href="/cart">My Cart</a>
      </li>
    </ul>
  </div>
</nav>
